/*.section_live {
	display: flex;
	justify-content: center;
	align-items: center;
}

.live_player {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 35px;
	font-size: 20px;
	text-align: center;

}
.live_player a{
	color: black;
}

@media screen and (max-width: 1000px){
	iframe {
		width: 80vw;
		height: 80vw;
	}

	
}

*/


#section1{

	background-color: white;
	padding: 2%;
	margin: 1%;
	text-align: center;

}


.bandeau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-bottom: grey 2px solid;
  margin-left: 12px;
  margin-right: 12px;
  text-align:center;

}
.bandeau img {
  display: flex;
  max-height : 500px;
  object-fit: cover;
}


@media screen and (max-width: 1000px){
	
	h2{

		font-size: 20px;
	}

	h3{

		font-size: 18px;

	}


}